<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CartifLogs" type="Cartif.Logs.LogConfiguration, Cartif, Version=1.0.0.0" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <CartifLogs>
    <TiposLog>
      <TipoLog Nombre="General" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>
      <TipoLog Nombre="Prevision" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>
      <TipoLog Nombre="GestionPersonal" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>
      <TipoLog Nombre="BajasReducciones" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>
      <TipoLog Nombre="ErroresLogs" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>
      <TipoLog Nombre="Login" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>
      <TipoLog Nombre="Correo" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt"/>      
      <TipoLog Nombre="Registro" RutaRaiz="C:/LogsAppnet" FileFormat="{0}/{1:yyyy}_{1:MMMM}/Registro.txt"/>
    </TiposLog>
    <Loggers>
      <Logger Id="1" TypeName="Cartif.Logs.FileLogger" Format="[ {0:dd/MM/yyyy HH:mm:ss} || {1} =&gt; {2} ]  Mensaje: {3}{4}"/>
      <Logger Id="2" TypeName="Cartif.Logs.ConsoleLogger" Format="{0:HH:mm:ss} {1} =&gt; {2} | {3}{4}"/>
    </Loggers>
  </CartifLogs>

</configuration>
