<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CartifServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://astrea:54956/Servicios/CartifService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CartifServiceSoap"
                contract="CartifService.CartifServiceSoap" name="CartifServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>