<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CartifLogs" type="Cartif.Logs.LogConfiguration, LAE, Version=1.0.0.0" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LOCATION" value="DEBUG" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CartifServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://astrea:54956/Servicios/CartifService.asmx" binding="basicHttpBinding" bindingConfiguration="CartifServiceSoap" contract="CartifService.CartifServiceSoap" name="CartifServiceSoap" />
    </client>
  </system.serviceModel>
  <CartifLogs>
    <TiposLog>
      <TipoLog Nombre="BaseDatos" RutaRaiz="C:/Logs/Lae" FileFormat="/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt" />
      <TipoLog Nombre="Cliente" RutaRaiz="C:/Logs/Lae" FileFormat="/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt" />
      <TipoLog Nombre="Inesperados" RutaRaiz="C:/Logs/Lae" FileFormat="/{1:yyyy}_{1:MMMM}/Día {1:dd}.txt" />
    </TiposLog>
    <Loggers>
      <Logger Id="1" TypeName="Cartif.Logs.FileLogger" Format="[{0} {1:dd/MM/yyyy HH:mm:ss} || {2} =&gt; {3} ]  Mensaje: {4}{5}" />
      <Logger Id="2" TypeName="Cartif.Logs.ConsoleLogger" Format="[{0}] {1:HH:mm:ss} {2} =&gt; {3} | {4}{5}" />
    </Loggers>
  </CartifLogs>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>